.overview{
    display: flex;
    //justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-grey-light-2);
    &__heading{
        font-size: 2.25rem;
        font-weight: 300 bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem;
    }
    &__stars{
        margin-right: auto;
        display: flex;
    }
    &__icon-star,
    &__icon-location{
        width:1.5rem;
        height:1.5rem;
        fill:var(--color-primary)
    }
    &__location{
       margin: 2.5rem;
       display: flex;
       align-items: center;
    }
    &__location{
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;
    }
    &__rating{
        background-color: var(--color-primary);
        color: #fff;
        padding: 0 .5rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self:stretch;
    }
    &__rating-average{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: -3px;
    }

    &__rating-count{
       font-size: 1rem;
       text-transform: uppercase;
       font-weight: bold; 
    }
}