.header{
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
}
//////////////////////////////////////////////////////////////////////
//LOGO
.logo{
    height: 3.25rem;
}

/////////////////////////////////////////////////////////////////////
//SEARCH
.search{
    &__input{

    }
    &__button{

    }
    &__icon{

    }
    &__icon{
        height:2.25 rem;
        width: 2.25 rem;
    }
}

//////////////////////////////////////////////////////////////////
//User_Navigation
.user-nav{
    &__icon-box{

    }
    &__icon{

    }
    &___icon{

    }
    &__notification{
        
    }
    &__user{


        
    }
    &__user-photo{
        height: 2.75 rem;
        border-radius: 50%;
    }
}