@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/mixins';
.form{
    &__input{
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        font-family: inherit;
        color: inherit;
        border-radius: 2px;
        background-color: rgba($color-white,.5);
        border: none;
        width: 100%;
        display: block;
        transition: all 0.2s;
        &::-webkit-input-placeholder{
            color:$color-dark-grey-2;
            @include respond(tab-land){
                font-size: 2.5rem;
            }
            @include respond(phone){
                font-size: 3rem;
            }
        }
        &:focus{
            outline: none;
            box-shadow: 0 2rem 1rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }
        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }       
    
    }
    &__input:focus{
        outline: none;
        box-shadow: 0 2rem 1rem rgba($color-black, .1);
        border-bottom: 3px solid $color-primary-dark;
    }       


    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top:0.7rem;
        display: block;
        transition: all .3s;

        @include respond(tab-land){
            font-size: 2rem;
        }
        @include respond(phone){
            font-size: 3rem;
        }
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}