@import "../../../sass/abstracts/variables";
@import "../../../sass/base/aniamtions";
.headerTextBox{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    .headingPrimary-container{
        color: $color-white;
        text-transform: uppercase;
        backface-visibility:hidden;
        align-items: center;
        text-align: center;
        .headingPrimary{
            display: block;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.5rem;
            animation: moveLeftIn 1s ease-out;
        }
        .headingSub{
            display: block;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 1.5rem;
            animation: moveRightIn 1s ease-out;
            margin-bottom: 1rem;
        }
    }
}
